fastapi
uvicorn
httpx
google-genai
python-dotenv
pydantic
svix
clerk-backend-api
sqlalchemy
psycopg2-binary
asyncpg
langchain
langchain-google-genai
langgraph
python-multipart
python-jose[cryptography]
twilio